/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== Variaveis =====*/
:root{
  --margin-pagina: 20px;
  --margin-nav: 120px;
  --margin-indice: 10px;
}

/*===== Colors =====*/
:root{
  --first-color: rgba(218, 7, 7, 0.938);
  --second-color: #c7c7c7;

}

/*===== Fonts =====*/
:root{
  --padrao-fonte: 'Open Sans';
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*===== BASE =====*/

html{
  
scroll-behavior: smooth;

}

/*Breakpoint 1440px*/

@media screen and (min-width: 320px) and (max-width: 1440px) {

h1 {

font-family: 'Open Sans';

}

p {

font-family: 'Open Sans';
  
}

.navbar-expand-sm {

background-color: var(--first-color);

}

.nav-link{

color:white;

}

.navbar-nav {

margin-left: 100px;

}

#nav-indice {

margin-left: 0;
  
}

.nav-item {

margin-left: var(--margin-nav);
font-family: 'Open Sans';

}

.nav-itens-pagina-inicial{

margin-top: 45px;

}

.search{

margin-right: var(--margin-nav);
display: inline;
float:right;
font-family: 'Open Sans';

}

.botao-de-busca {

background-color: var(--first-color);
border-width: 0px;
height: 30px;
color: white;
font-family: 'Open Sans';

}

.signIn-signUp {

background-color: black;

}

.sign {

margin-right: var(--margin-pagina);
margin-left: 74%;
color: white;
font-family: 'Open Sans';

}

.logo-search {

margin-top: 30px;
  
}

.text-busca {

width: 300px;

}

img {

height: 35px;
margin-left: var(--margin-nav);

}

.indice {

background-color: var(--second-color);
margin-top: var(--margin-pagina);
margin-left: var(--margin-nav);
margin-right: var(--margin-nav);
margin-bottom: var(--margin-pagina);
height: 450px;
width: 250px;

}

.li-indice {

margin-top: var(--margin-indice);
margin-left: var(--margin-indice);

}

.secao-div {

height: 700px;
margin-left: 0;
margin-top: 0;
margin-bottom: 20px;
  
}

.secao {

height: 200px;
background-color: var(--first-color);
margin-left: var(--margin-nav);
margin-right: var(--margin-nav);
margin-bottom: 20px;

}

.paginaSecao {

background-color: var(--second-color);
clear: right;
float: right;
height: 250px;
width: 840px;  
margin-right: var(--margin-nav);

}

.mainSecao {

clear: right;
float: right;
height: 250px;
width: 840px;  
margin-right: var(--margin-nav);

}

a:hover {

color: rgb(255, 255, 255);

}

a {

color:rgb(255, 255, 255);

}

}
